// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

nav{
  background-color: pink;
  padding: 45px;
}
nav a{
  color: lightyellow;
  text-decoration:none ;
  margin-right: 20px;
  font-size: 18px;
  font-family: arial sans-serif ;
  font-weight: bold;
  margin: 100px;
}
nav a{
  color: white;
}

h1{
  color: pink;
}
p{
  color: pink;
}
section {
  color: pink;
  margin-right: 40px;
  font-size: 20px;
}

nav{
display: flex;
  align-items: center;
  gap: 20px;
}